streamlit==1.51.0
python-dotenv==1.2.2
groq==0.9.0

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.4

sentence-transformers==3.0.1
faiss-cpu==1.7.4

pypdf==4.2.0

